<div class="div" style="text-align: center;">
    <button style="font-size: 50px;margin-top: 100px;">
        <a href="" style="text-decoration: none">Manage Student</a><br>
    </button><br>
    <button style="font-size: 50px;margin-top: 100px;">
        <a href="" style="text-decoration: none">Manage Courses</a><br>
    </button><br>
    <button style="font-size: 50px;margin-top: 100px;">
        <a href="/staff/viewCategory" style="text-decoration: none">Manage Categories</a><br>
    </button>
</div>