    <div class="footer">
        <div class="footer-top">
            <div class="footer-content">
                <div class="row w-100">
                    <div class="col-3 footer-text">
                        <h3>Author</h3>
                        <ul>
                            <li>Hoang Duc Minh</li>
                            <li>hdminh2001@gmail.com</li>
                            <li>0389259206</li>
                        </ul>
                    </div>
                    <div class="col-6 footer-text">
                        <h3>About Us</h3>
                        <ul>
                            <li>Ha Noi: GOLDEN PARK Building - No. 2 Pham Van Bach - Yen Hoa - Cau Giayy</li>
                            <li>Da Nang: 658 Ngo Quyen - Son Tra District - Da Nang City</li>
                            <li>Ho Chi Minh: 20 Cong Hoa Street – Ward 12 – Tan Binh District</li>
                            <li>Can Tho: No. 160, 30/4 Street - An Phu Ward - Ninh Kieu District</li>
                            <li>Hotline: 024.7300.2266 | 086.779.1686</li>
                        </ul>
                    </div>
                    <div class="col-3 footer-text pe-0">
                        <h3>Services</h3>
                        <ul>
                            <li>24/7 user support</li>
                            <li>Page User Guide</li>
                            <li>Site Terms of Use</li>
                            <li>Email: sro.gre.hn@fe.edu.vn</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <p>© Powered by <span>Greenwich VietNam</span></p>
        </div>
    </div>