    <div class="footer">
        <div class="footer-top">
            <div class="footer-content">
                <div class="row w-100">
                    <div class="col-3 footer-text">
                        <h3>Team Members</h3>
                        <ul>
                            <li>Nguyễn Thạc Huy</li>
                            <li>Nguyễn Thạc Huy</li>
                            <li>Nguyễn Thạc Huy</li>
                            <li>Nguyễn Thạc Huy</li>
                            <li>Nguyễn Thạc Huy</li>
                        </ul>
                    </div>
                    <div class="col-6 footer-text">
                        <h3>About Us</h3>
                        <ul>
                            <li>CS1: Số 142-146 Phạm Phú Thứ - Phường 4 - Quận 6 (Cuối đường 3/2)</li>
                            <li>CS2: 205 Nguyễn Xí, Phường 26, Bình Thạnh.</li>
                            <li>Điện thoại: 028.7300.2266</li>
                            <li>Hotline: 0933.108.554 | 0971.294.545</li>
                        </ul>
                    </div>
                    <div class="col-3 footer-text pe-0">
                        <h3>Services</h3>
                        <ul>
                            <li>Hỗ trợ người dùng 24/7</li>
                            <li>Hướng dẫn sử dụng trang</li>
                            <li>Điều khoản sử dụng trang</li>
                            <li>Email: sro.gre.hn@fe.edu.vn</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <p>© Powered by <span>Group 5</span></p>
        </div>
    </div>